.navbar {
  background-color: #FF004F;
}
#getProducts {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  animation: slide-in 1s ease forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color:#FFFFCC;
  /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 1); */
  animation: slide-in 1s ease both;
}

.product img {
  max-width: 100%;
  height: auto; 
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
  transition: transform 0.3s ease-in-out;
}
.product img:hover {
  transform: scale(1.05); 
}

.product img:active {
  transform: scale(0.95); 
}

.price {

  margin-bottom: 0;
  font-size: 18px;
  color: #007bff;
}

.price,.title,.description:hover {
  transform: scale(1.05); 
}

.price,.title,.description:active {
  transform: scale(0.95); 
}

.title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 7px;
}

.description {
  font-size: 14px;
  color: #666;
  display: none;
}

#newProductForm {
  width: 100%;
  max-width: 400px; 
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 50px;
  transition: transform 0.3s ease-in-out;
  animation: slide-in 1s ease forwards;
}



#newProductForm:hover{
  transform: translateY(-5x);
}

#newProductForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 40px;
  animation: slide-in 1s ease both;
}

#newProductForm button{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

#newProductForm button[type="submit"]:hover {
  background-color: #0056b3;
}
.user-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.userProfile {
  text-align: center;
}

.userPicture {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
}

.cart {
  display: inline-block;
  width: calc(25% - 20px); 
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  vertical-align: top;
  box-sizing: border-box;
}

.cart:last-child {
  margin-right: 0;
}

.cart-image {
  width: 100%;
  height: auto; 
  object-fit: cover;
}

.cart-info {
  padding: 10px;
  background-color: #0056b3;
}

.cart-product span {
  margin-right: 10px;
}

.cart-product span:last-child {
  margin-right: 0;
}
